
#pr-form {
  flex-grow: 0.5;
}

@media (max-width: 768px) {
  #pr-form {
    flex-basis: 100%;
  }
}

.pr-error {
  color: #B58900;
  font-size: 12px;
  line-height: 36px;
  margin-left: 5px;
}

.pr-hide {
  display: none;
}
